<div class="nested-fields">

    <%= f.label :description %><br>
    <%= f.text_field :description  %> Correta?
    <%= f.check_box :correct  %>

    <%= link_to_remove_association 'Remover', f %>

</div>